.searchRidesForm Label,::placeholder{
    font-size : 14px;
    
}
    
.searchRidesForm{
    background-color:white;
}

.rides-list{
    background-color:white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding: 10px 20px;
    /* box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
   
}

.rides-list p{
    color:black;
}

.post-price{
    float:right;
}

.post-car{
    display:block;
}

.pull-left {float:left;}
.pull-right {float:right;}

.post-price{
    font-size:30px;
    /* transform: translateY(50%); */
    color : #00A372;
}
/* 
.line-separator{
    height:1px;

    background:#717171;
    
    border-bottom:1px solid #313030;
} */

.rides-list small{
    display:block;
}

.submidBidForm input {
    border-radius: 4px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:black;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}