
p{
    color:black !important;
}

.card-header h1{
    color:black;
  
}

  .card {
    max-width: 300px;
    margin: auto;
    margin-top:5%;
  }

  .full-width{
      width:100%;
      height:auto;
      padding:5px;
  }

  .card-header{
      background-color:F2F2F2;
        /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); */
       
  }

  .card-subheader{
      background-color:#fff;
      padding:10px;
      text-align:center;
  }

  .complex-query{
      color:#00A372;
  }